{{ define "title" }}{{ .Site.Title }} - Présentation{{ end }}

{{ define "main" }}
<main>
	<p class="contact">{{ $.Site.Params.mail }}</p>

	<section class="content" aria-label="introduction">
		<h2 class="visually-hidden">Introduction</h2>
		{{ .Content }}
	</section>

	<section class="exposition" aria-label="Liste des expositions">

		<h2>Exposition</h2>
{{ with $.Params.exposition }}
		<ul class="liste">
			<li style="display: none">
				<ul style="display: none">



	{{ $previous_year :=  slice " " }}
	{{ range . }}

		{{ $date := dateFormat "2006" .date }}

		{{ if not ( in $previous_year $date )}}
				</ul>
			</li>
			<li class="by_year">
				<h3>{{ dateFormat "2006" .date }}</h3>
    			<ul class="events_by_year">
			        <li class="event" data-year='{{ dateFormat "2006" .date }}'>
			            {{with .titre }} <p class="titre">{{ . }}</p> {{end}}
			            {{ with .lieu }} <p class="lieu">{{ . }}</p> {{ end }}
			           	{{ with .ville }} <p class="ville">{{ . }}</p> {{ end }}
			        </li>

		{{ $previous_year = $previous_year | append $date }}					

	    {{ else }}
			        <li class="event" data-year='{{ dateFormat "2006" .date }}'>
			            {{with .titre }} <p class="titre">{{ . }}</p> {{end}}
			            {{ with .lieu }} <p class="lieu">{{ . }}, </p> {{ end }}
			           	{{ with .ville }} <p class="ville">{{ . }}</p> {{ end }}
			        </li>
		{{ end }}
    {{ end }}		    	
				</ul>
			</li>
		</ul>
{{ end }}
	</section>

	<section class="residence" aria-label="Liste des résidences">

		<h2>Résidence</h2>
		{{ with $.Params.residence }}

		<ul class="liste">
		    	{{ range . }}
			        <li class="event" data-year='{{ dateFormat "2006" .date }}'>
			            <p class="lieu">{{ .lieu }}</p>
			            <p class="ville">{{ .ville }}</p>
			        </li>
		        {{ end }}
		    </ul>
		{{ end }}
	</section>
</main>
{{ end}}