body.page_index{	

	#couverture{	
		a{
			position: fixed;
			width: 100vw;
			height: 100vh;
			display: inline-block;
			top: 0;
			left: 0;

			img{
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
					
				-webkit-filter: grayscale(1) brightness(1) contrast(3);		
				-moz-filter: grayscale(1) brightness(1) contrast(3);
				filter: grayscale(1) brightness(1) contrast(3);
				mix-blend-mode: multiply;
				z-index: 1;
			}

			&:after{
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: var(--bg_color);
				top: 0;
				left: 0;
			}
		}
	}
}
