    {{ define "main" }}
	<main>
	{{ $media := ($.Site.GetPage "section" "media_library").Resources.Match "couverture/*"  }}

	{{ range first 1 ( sort $media "Name" "desc" ) }}
		{{ $instagram := .Resize "200x" }}


		<div id="couverture">
			<a href="{{ $.Site.Params.instagram }}" title="Visiter le compte instagram de Marine Kaiser" aria-label="Visiter le compte instagram de Marine Kaiser" target="_blank" rel="noopener" >
				<img src='{{ $instagram.Permalink }}' alt="Image provenant du compte instagram de Marine kaiser" >
			</a> 
		</div>
	{{ end }}
	</main>
{{ end }}