{{ define "title" }}{{ .Title}} - {{ .Site.Title }}{{ end }}

{{ define "seo" }}
    <meta name="description" content='{{if .Params.description_projet}}{{.Params.seo_title}}{{else}}Page du Projet {{.Params.Title}} - Marine Kaiser {{ with .Params.collaboration_avec }}, {{ delimit . ", "}} {{end}} - {{ if .Params.date}}{{ dateFormat "2006" .Params.date}} {{ end}}{{end}}'>
    <meta name="keywords" content="{{ with .Params.mot_cle_projet }} {{ range . }} {{ . }}{{end }}{{ else }}{{ $.Site.Params.keyword }} {{ end }}">
    <meta name="author" content="{{ $.Site.Params.author }}">
    <meta property="og:title" content='{{if .Params.description_projet}}{{.Params.seo_title}}{{else}}{{.Params.Title}} - Marine Kaiser {{ with .Params.collaboration_avec }}, {{ delimit . ", "}} {{end}} - {{ if .Params.date}}{{ dateFormat "2006" .Params.date}} {{ end}}{{end}}'>
    <meta property="og:type" content="website">
    <meta property="og:url" content='{{.Permalink }}'>
	<meta property="og:image" content='{{ range first 1 .Pages.ByDate}}{{ $id := .Params.id }}{{ $media := ($.Site.GetPage "section" "media_library").Resources.Match (printf "%s-**.*" $id ) }}{{ range first 1 $media }}{{.Permalink}}{{end}}{{ end }}' > 
{{ end }}

{{ define "main" }}
	<main aria-label="Présentation des projets">

		<hgroup>
			<h1>{{ .Title }}</h1>
			{{with .Params.subtitle }}
				<h2 class="subtitle">
					<span>{{ delimit . ", "  " & " }}</span>
				</h2>
			{{ end }}
		</hgroup>

		<div class="details">
			<p class="date">{{ dateFormat "2006" .Params.date }}</p>
			{{ with .Params.lieu }}
				<p class="lieu">{{/*Lieu&#8201;: */}}{{ delimit . ", "  " & " }}</p>
			{{ end }}
			{{ with .Params.commanditaire }}
				<p class="commanditaire">Commanditaire&#8201;: {{ delimit . ", "  "& " }}</p>
			{{ end }}
			{{ with .Params.performeurs }}
				<p class="performeurs">{{.}}</p>
			{{ end }} 
		</div>

		<div class="content">{{ .Content }}</div>
			

		{{ range $page_index, $Page :=  .Pages.ByDate}} 
			<article class="page" aria-label="Présentation d'une pièce">

				<div class="texte">
					<header>
						<h2>{{ .Title }}</h2>
						{{with .Params.subtitle }}
							<h3 class="subtitle">
								<span>{{ delimit . ", "  " & " }}</span>
							</h3>
						{{ end }}
					</header>

					<div class="details">
						{{ with .Params.lieu }}
							<p class="lieu">{{/*Lieu&#8201;: */}}{{ delimit . ", "  " & " }}</p>
						{{ end }}
						{{ with .Params.commanditaire }}
							<p class="commanditaire">Commanditaire&#8201;: {{ delimit . ", "  "& " }}</p>
						{{ end }}
						{{ with .Params.performeurs }}
							<p class="performeurs"> *Performeurs&#8201;: {{ delimit . ", "  "& " }}</p>
						{{ end }} 
					</div>

					<div class="content">{{ .Content }}</div>
					
				</div>

				<section class="media">
					<h4 class="visually-hidden">Image ou vidéos associées au projets</h4>

		    		{{ $id := .Params.id }}
		    		{{ $media := ($.Site.GetPage "section" "media_library").Resources.Match (printf "%s-**.*" $id ) }}
					{{ $len := len $media }}


					{{ range $index, $media :=  $media }}

						{{ $filename := $media.Name }}
						{{ $media_number_raw := findRE "[0-9]+" $filename }}

						{{ $media_number :=  slicestr (print $media_number_raw ) 1 3 }}
						{{ $media_number := int (strings.TrimPrefix "0" $media_number) }}
						<input type="radio" id="input_{{$page_index}}_{{$media_number}}" name="caroussel_{{$page_index}}"
							{{ if (eq $index 0) }}checked="checked"{{ end }} hidden>

					{{ end }}

					{{ range $index, $media :=  $media }}
						{{ if (in .MediaType.MainType "image") }}			  
							{{ $image := . }} 
							{{ $image_500 := .Resize "500x" }}
							{{ $image_900 := .Resize "900x" }}
							{{ $image_1200 := .Resize "1200x" }}

							{{ $filename := $image.Name }}
							{{ $image_number_raw := findRE "[0-9]{2}" $filename }}

							{{ $image_number :=  slicestr (print $image_number_raw ) 1 3 }}
							{{ $image_number := int (strings.TrimPrefix "0" $image_number) }}
							<div class="section section_image" id="m_{{$page_index}}_{{$image_number}}">
								<div class="container">
									<div class="contened">
										<figure>
										
											<img class='' 
								    			srcset='{{ $image_500.Permalink }} 500w, 
									            		{{ $image_900.Permalink }} 900w, 
									            		{{ $image_1200.Permalink }} 1200w'

							    				sizes='	(max-width: 500px) 500px,
										            	(max-width: 1100px) 900px,
										            	(min-width: 1100px) 1200px'
								    			src='{{ $image_900.Permalink }}'
								    			alt='{{ with $Page.Params.legende }}{{ $events := where . ".image" "intersect" $image_number_raw }}{{ if $events }}{{ range $events }}{{ $base := delimit .contexte ", " }}{{ $foo := "Marine Kaiser"}}{{ print $base " - " $foo }}{{ end }}{{ with $Page.Params.collaboration_avec }}, {{ delimit . ", "}}{{end}}{{ else }}{{ $title := $Page.Title }}{{ $date := dateFormat "2006" $.Params.date }}{{ $name := "Marine Kaiser"}}{{ print $title ", " $date " - " $name}}{{ with $Page.Params.collaboration_avec }}, {{ delimit . ", "}}{{end}}{{ end }}{{ end }}'>

											{{ with $Page.Params.legende }}
												{{ range where . ".image" "intersect" $image_number_raw }}
													<span class="over">{{ partial "svg/thought.svg"}}</span>
													<figcaption class="over" data-item={{.image}} >
														<div>
															<div class="contexte">
																{{ range .contexte }}
																	<p>{{ . | markdownify }}</p>
																{{ end }}
															</div>
															<div class="description">
																{{ .description | markdownify }}
															</div>
														</div>
													</figcaption>														
												{{ end }}
											{{ end }}
										</figure>
									</div>
								</div>
								{{ if (gt $len 1 )}}
									<label for='input_{{$page_index}}_{{ if eq (add $index 1) 1 }}{{$len}}{{else}}{{ sub $image_number 1 }}{{end}}' 
										class="prev_slide" aria-label="Image précédente">{{ partial "svg/to_left.svg"}}</label>

									<label for='input_{{$page_index}}_{{ if eq (add $index 1) $len }}1{{else}}{{ add $image_number 1 }}{{end}}' 	class="next_slide" aria-label="Image suivante">{{ partial "svg/to_right.svg"}}</label>
								{{ end }}
							</div>


						{{ else }}

							{{ $media_type_arr := split $media "." }}
							{{ $media_ext := index $media_type_arr 1 }}		
							{{ $media_ext :=  trim $media_ext ")"}}

							{{ if ( eq $media_ext "mp4" ) ( eq $media_ext "mpeg" ) ( eq $media_ext "avi" ) ( eq $media_ext "webm" ) }}
								{{ $video := . }} 
								{{ $filename := $video.Name }}
								{{ $video_number_raw := findRE "[0-9]{2}" $filename }}

								{{ $video_number :=  slicestr (print $video_number_raw ) 1 3 }}
								{{ $video_number := int (strings.TrimPrefix "0" $video_number) }}
								<div class="section section_video" id="m_{{$page_index}}_{{$video_number}}">
									<div class="container">
										<div class="contened">
											<figure>
												<video controls>
												    <source src="{{ $video.Permalink}}" type="video/{{$media_ext}}">
						    							Désolé, votre navigateur ne supporte pas les videos
												</video>
												{{ with $Page.Params.legende }}
													{{ range where . ".image" "intersect" $video_number_raw }}
														<span class="over">{{ partial "svg/thought.svg"}}</span>
														<figcaption class="over" data-item={{.video}} >
															<div>
																<div class="contexte">
																	{{ range .contexte }}
																		<p>{{ . | markdownify }}</p>
																	{{ end }}
																</div>
																<div class="description">
																	{{ .description | markdownify }}
																</div>
															</div>
														</figcaption>														
													{{ end }}
												{{ end }}
											</figure>
										</div>
									</div>
								{{ if (gt $len 1 )}}
									<label for='input_{{ sub $video_number 1 }}' class="prev_slide" aria-label="Image précédente">{{ partial "svg/to_left.svg"}}</label>
									<label for='input_{{ add $video_number 1 }}' class="next_slide" aria-label="Image suivante">{{ partial "svg/to_right.svg"}}</label>	
								{{ end }}	
								</div>
							{{ else if (in .MediaType.SubType "pdf") }}	  
								{{ $pdf := . }} 

								{{ $filename := $pdf.Name }}
								{{ $pdf_number_raw := findRE "[0-9]{2}" $filename }}

								{{ $pdf_number :=  slicestr (print $pdf_number_raw ) 1 3 }}
								{{ $pdf_number := int (strings.TrimPrefix "0" $pdf_number) }}
								<div class="section section_pdf" id="m_{{$page_index}}_{{$pdf_number}}">
									<object type="application/pdf"
									    data="{{$pdf.Permalink}}"
									    width="100%" height="100%">
									</object>
									{{ if (gt $len 1 )}}
										<label for='input_{{$page_index}}_{{ sub $pdf_number 1 }}' class="prev_slide" aria-label="Image précédente">{{ partial "svg/to_left.svg"}}</label>
										<label for='input_{{$page_index}}_{{ add $pdf_number 1 }}' class="next_slide" aria-label="Image suivante">{{ partial "svg/to_right.svg"}}</label>
									{{ end }}
								</div>					
							{{ end }}
						{{ end }}								
					{{ end }}		
				</section>
			</article>
		{{ end }}
	
		<section class="details_end">

			<h2 class="visually-hidden">Crédit et remerciement</h2>

			{{ with .Params.credit }}
				<p class="credit">{{ . }}</p>
			{{ end }}
			{{ with .Params.remerciement }}
				<p class="remerciement">{{.}}</p>
			{{ end }}				
		</section>

		<hr>

		{{ if (isset .Params "cycle")}}
			{{ $id := .Params.id }}
			{{ $cycle := .Params.cycle }}
			<aside class="related" aria-hidden="true">

			<h2>{{$cycle}} est aussi lié à ces projets&thinsp;:</h2>

				<ul>
					{{ range ( where (where .Site.Pages "Section" "project" ) "Params.cycle" $cycle ) }}
						{{ if ne .Params.id $id }}
						<li data-title="{{ .Params.id }}" data-cycle="{{ .Params.cycle }}"  
							title="Voir ce projet">
							<a href="{{ .Permalink }}"><p>{{ .Title }}</p></a>
						</li>
						{{ end }}
					{{ end }}

				</ul>
			</aside>
		{{ end }}
	</main>
{{ end}}
 
