<!DOCTYPE html>
<html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    <title> {{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    <meta name="og:site_name " content="marinekaiser.ch">
    <meta name="twitter:card" content="summary">

    {{ block "seo" . }}
        <meta name="description" content='{{$.Site.Params.description}}'>
        <meta name="keywords" content="{{$.Site.Params.keyword }}">
        <meta name="author" content="{{ $.Site.Params.author }}">
        <meta property="og:title" content='{{$.Site.Params.description}}'>
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://marinekaiser.ch">
    {{ end }}

    {{ $common := resources.Get "js/color.js" | minify }}
    <script src="{{ $common.Permalink }}"></script>
    
    {{ $font := resources.Get "fonts/faune/stylesheet.css" | minify }}
    <link rel="stylesheet" href="{{ $font.Permalink }}" type="text/css" > 

    {{ $font_2 := resources.Get "fonts/open_sans/stylesheet.css" | minify }}
    <link rel="stylesheet" href="{{ $font_2.Permalink }}" type="text/css" >

    {{ block "style" . }}
        {{ $options := (dict "targetPath" "css-compiled/global.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/myscss")) }}
        {{ $styles := resources.Get "scss/global_web.scss" | resources.ToCSS $options }}
        <link rel="stylesheet" href="{{ $styles.Permalink }}" type="text/css" >
    {{ end }}

</head> 

<body  class="{{ .Params.type }} page_{{ .Params.id }}">

	{{ block "fragments" . }}
		{{ partial "side.html" . }} 
	{{ end }}

	{{- block "main" . }} {{- end }}
	
    {{ block "scripts" . }}
        {{ $common := resources.Get "js/common.js" | minify }}
        <script src="{{ $common.Permalink }}"></script>
    {{ end }}

</body>
</html> 
