$font-main: 'Faune', sans-serif;
$font-second: 'open_sans', sans-serif;
$font-size: 10px; // Base 10 pour simplifier les calculs
$baseline: 15px;

html{
    font-family: $font-main;
    font-size: $font-size;
}
@mixin font-size-80() {
    font-size: $font-size*8;
    line-height: $baseline*6;
    font-weight: normal;
    letter-spacing: -0.1px;
}

@mixin font-size-45() {
    font-size: $font-size*4.5;
    line-height: $baseline*3.5;
    font-weight: normal;
    letter-spacing: -0.05px;
}

@mixin font-size-40() {
    font-size: $font-size*4;
    line-height: $baseline*3;
    font-weight: normal;
    letter-spacing: -0.05px;
}

@mixin font-size-35() {
    font-size: $font-size*3.5;
    line-height: $baseline*3;
    font-weight: normal;
}

@mixin font-size-30() {
    font-size: $font-size*3;
    line-height: $baseline*3;
    font-weight: normal;
}

@mixin font-size-25() {
    font-size: $font-size*2.5;
    line-height: $baseline*2;
    font-weight: normal;
}

@mixin font-size-20() {
    font-size: $font-size*2;
    line-height: $baseline*2;
    font-weight: normal;
}

@mixin font-size-16() {
    font-size: $font-size*1.6;
    line-height: $baseline*1.6;
    font-weight: normal;
}

@mixin font-size-12(){
    font-size: $font-size*1.2;
    line-height: $baseline*1.0;
    font-weight: normal;
}


/////////////////
///// For Print
////////////////


@mixin font-size-equ-45pt($color: $text-color){
    font-size: $font-size*6;
    line-height: $baseline*4;
    font-weight: normal;
    //color: $color;
    letter-spacing: -1px;
}

@mixin font-size-equ-18pt($color: $text-color){
    font-size: $font-size*2.4;
    line-height: $baseline*2.0;
    font-weight: normal;
    //color: $color;
}


@mixin font-size-equ-13pt($color: $text-color){
    font-size: $font-size*1.8;
    line-height: $baseline*1.5;
    font-weight: normal;
    //color: $color;
}

@mixin font-size-equ-9pt($color: $text-color){
    font-size: $font-size*1.2;
    line-height: $baseline*1.0;
    font-weight: normal;
    //color: $color;
}

@mixin font-size-equ-7pt($color: $text-color){
    font-size: $font-size*.9;
    line-height: $baseline*.75;
    font-weight: normal;
    //color: $color;
}