///SVG class

.bck{ fill: var(--bg_color);}
.st0{
	fill-rule:evenodd;
	clip-rule:evenodd;
	fill:none;
	stroke: var(--color);
	stroke-width:1;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
}

section.media svg.canvas{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	left: 0;
	z-index: -1;

	path{
		fill-rule:evenodd;
		clip-rule:evenodd;
		//fill: var(--bg_color);
		fill: white;
		stroke: var(--color);
		stroke-width:1;
		stroke-linecap:round;
		stroke-linejoin:round;
		stroke-miterlimit:10;
	}								
}







@include for-size(desktop) {
	svg.to_right, svg.to_left {
	    width: $unite*2;
	    top: 50%;
	    transform: translateY(-50%) scale(.66, 1);

	    .st0{ stroke-width: 5.75; }
	}

	svg.thought{
		
		.st0{ stroke-width: 6; }
	}

	svg.tong{
		height: 140px;
		left: 70px;
		.shape{fill: var(--bg_color);}
		.st0{ stroke-width: 3px;}
		g{ 
			transform: translateX(-70px);
			transition: .25s ease-in-out;
		}
	}
	// Hover : Vibre
	aside#side:hover{
		svg.tong{ }
	}

	// Check : Tirez !
	#button-menu:checked  ~ nav#side{
		svg.tong{
			g{ 
				transform: translateX(-25px);
				transition: .25s ease-in-out;
			}
		}
	}
}






@include for-size(phone) {
		svg.to_right, svg.to_left {
	    width: $unite*2;
	    top: 50%;
	    transform: translateY(-50%) scale(.66, 1);

	    .st0{ stroke-width: 11; }
	}
	svg.to_right{ right: -5px;}
	svg.to_left{ left: -5px;}

	svg.thought{
		
		.st0{ stroke-width: 6; }
	}

	svg.tong{
		height: 140px;
		.shape{fill: var(--bg_color);}
		.st0{ stroke-width: 3px;}
		g{ 
			transform: translateX(-70px);
			transition: .25s ease-in-out;
		}
	}
	// Hover : Vibre
	aside#side:hover{
		svg.tong{ }
	}

	// Check : Tirez !
	#button-menu:checked  ~ aside#side{
		svg.tong{
			g{ 
				transform: translateX(-25px) translateY(25%);
				transition: .25s ease-in-out;
			}
		}
	}
}