@include for-size(desktop) {
	
	body.page_about {
		
		main{

			.content{
				margin: 0 0 $baseline*4 0;
				max-width: $main-width-desktop-max*.75;
				@include font-size-30;
				font-weight: 400;
			}

			h2{
				@include font-size-16;
				font-family: $font-second;
				margin-bottom: $baseline;

			}

			ul.liste{
				margin: 0 0 $baseline*10 0;
				width: 100%;

				li.by_year{
					display: block;
					margin-bottom: $baseline*3;

					h3{
						@include font-size-30;
						font-style: italic;
						margin-bottom: $baseline*1;
					}
				}

				li.event{
					margin-bottom: $baseline*1;
				}
			}

			.residence, .exposition{
				.titre{ @include font-size-16; max-width: 70% }			
				.lieu, .ville { display: inline-block; @include font-size-12;}
			}
			.residence{
				.lieu{
					@include font-size-16;
					display: block;
				}
				.ville { 
					@include font-size-12;
					display: block; 
				}
			}
		}

		.contact{
			position: absolute;
			top: $baseline*-3;
			right: $unite*2;
			width: auto;
			@include font-size-20;
			text-align: right;
			padding: $baseline 0;
		}
	}
}