@include for-size(phone) {
	
	body.page_about {
		
		main{

			.content{
				margin: $baseline*4 0 $baseline*4 0;
				max-width: $main-width-phone;
				@include font-size-25;
				font-weight: 400;
			}

			h2{
				@include font-size-16;
				font-family: $font-second;
				margin-bottom: $baseline;
			}

			ul.liste{
				margin: 0 0 $baseline*4 0;
				width: 100%;

				li.by_year{
					display: block;
					margin-bottom: $baseline*3;

					h3{
						@include font-size-25;
						font-style: italic;
						margin-bottom: $baseline*1;
					}
				}

				li.event{
					margin-bottom: $baseline*1;
				}
			}

			.residence, .exposition{
				.titre{ @include font-size-16; max-width: 70% }			
				.lieu, .ville { display: inline-block; @include font-size-12;}
			}
			.residence{
				.lieu{
					@include font-size-16;
					display: block;

				}
				.ville { 
					@include font-size-12;
					display: block; 

				}
			}

			.contact{
				position: absolute;
				top: $baseline*-4;
				//right: $unite-phone;
				width: auto;
				@include font-size-16;
				//text-align: right;
				padding: $baseline 0;
			}

			@supports( display: flex){

				// main		
				@include flex;
				@include flex-direction(column);

				.content{ order: 1; margin: $baseline*2 0 $baseline*1 0;};
				.residence, .exposition{ order: 3;}
				.contact{ 
					order: 2;
					position: relative;
					top: inherit;
					margin-bottom: $baseline*4;
				}
			}
		}
	}
}