@include for-size(desktop) {

	nav#side{
		position: fixed;
		padding: $baseline $unite/2;

		width: $list-open-width;
		top: 0;	
		left: $list-open-width*-1;
		transition: .33s ease-in-out;

		box-sizing: border-box;
		z-index: 5;


		@include for-size(desktop-1200){
			width: $list-open-width-medium;
			left: $list-open-width-medium*-1;
		}

		&:hover{
			left: 0;
		}

		&:before{
			content: "";
			position: absolute;
			top: $baseline*3;
			left: 0;
			width: 100%;
			height: 100%;
			background: var(--bg_color);
			z-index: -1;

		}

		&:after{
			content: "";
			position: absolute;
			height: 100vh;
			width: 1px;
			border-right: $border;
			border-color: rgba($text-color, .1);
			top: 0;
			right: 0;
		}

		.hide_the_scrollbar {
		    overflow-x: hidden;
		    height: auto;
		}

		li{ @include font-size-16;}

		#nav{
			margin-top: $baseline*2;
			overflow-x:auto;
			overflow-y: scroll;
			width: -webkit-calc(100% + #{$unite*2});
			width: moz-calc(100% + #{$unite*2});
			width: calc(100% + #{$unite*2});
			height: -webkit-calc(100vh + #{$baseline*3});
			height: moz-calc(100vh + #{$baseline*3});
			height: calc(100vh + #{$baseline*3});			
			padding-right: $unite*2;	
				
			> ul{
				padding-bottom: $baseline*24;
				width: -webkit-calc(100% - #{$unite*2});
				width: moz-calc(100% - #{$unite*2});
				width: calc(100% - #{$unite*2});
			}

			.list_projet{
				margin-top: $baseline*3;
			}
		}
	}

	#top{
		display: inline-block;
		width: auto;	
		z-index: 4;
		top: 0;
		left: 0;
		padding: $baseline $unite*2 0 $unite*2;
		

		p{
			@include font-size-20;
			font-weight: 700;
			left: 0;
			transition: .33s ease-in-out;
			
			.suffixe{
				max-width: 100%;
				transition: .33s ease-in-out;
			}
			.collaboration{
				opacity: 1;
				transition: .33s ease-in-out;
			}
		}
	}	

	//////////////
	/// Interaction
	////////////

	nav#side{

		label.button-menu{

			position: absolute;
			left: $list-open-width;
			@include for-size(desktop-1200){ left: $list-open-width-medium; }
			top: 50%;
			border-radius: 50%;
			width: 140px;
			transform: translateX(-50%) translateY(-50%);
			z-index: -2;
			transition: .33s ease-in-out;
		}

		.hack_logo{
			position: absolute;
			top: 0;
			left: 0;
			width: $list-open-width;
			@include for-size(desktop-1200){ width: $list-open-width-medium; }			
			height: $baseline*3;
			content: "";
			z-index: 99;
		}		
	}

	.hack_background{
		position: fixed;
		top: 0;
		left: $list-open-width*-1;
		width: $list-open-width;
		@include for-size(desktop-1200){ 
			left: $list-open-width-medium*-1;
			width: $list-open-width-medium; 
		}
		height: $baseline*3;
		z-index: 2;
		background: var(--bg_color);
		transition: .33s ease-in-out;
	}

	#button-menu:checked  ~ nav#side{
		left:0;
		label.button-menu{ }
	}	

	nav#side:hover,
	#button-menu:checked{

		&~ #top{
			
			position: fixed;
			
			p{
				left: $unite*-1.5;
				transition: .33s ease-in-out;

				.suffixe{
					max-width: 0;
					visibility: collapse;
					transition: .33s ease-in-out;
					display: inline-block; // Annihile l'espace

				}

				.collaboration{
					opacity: 0;
					transition: .33s ease-in-out;
				}
			}
		}

		&~ main{
			margin-top: $baseline*3;
		}

		&~ .hack_background{
			left: -1px;
			transition: .33s ease-in-out;
		}
	}
}
