@include for-size(phone) {

	nav#side{
		position: absolute;
		max-height: 0;

		width:100%;
		top: 100vh;
		left: 0;
		transition: .33s ease-in-out;

		box-sizing: border-box;
		background: var(--bg_color);
		//border-color: rgba($text-color, .1);
		overflow: hidden;
		z-index: 6;

		li, h1{ @include font-size-16;}

		#nav{
			overflow-x:auto;
			padding: $baseline*3 $unite-phone 0 $unite-phone;

				
			> ul{
				padding-bottom: $baseline*10;
			}

			.list_projet{
				margin-top: $baseline*1.5;
			}
		}
	}

	#top{
		display: inline-block;
		width: auto;	
		z-index: 6;
		top: 0;
		left: 0;
		padding: $baseline $unite-phone 0 $unite-phone;
		box-sizing: border-box;
		

		p{
			@include font-size-20;
			font-weight: 700;
			left: 0;
			transition: .33s ease-in-out;
			
			.suffixe{
				max-width: 100%;
				transition: .33s ease-in-out;
			}
			.collaboration{
				opacity: 1;
				transition: .33s ease-in-out;
			}
		}
	}	

	//////////////
	/// Interaction
	////////////

	nav#side{

		label.button-menu{

			position: fixed;
			bottom: $baseline*-1;
			right: 0;
			z-index: 7;
			transform: rotate(-90deg);
		}

		.hack_logo{
			display: none;
		}		
	}

	.hack_background{
		display: none;
	}

	#button-menu:checked{

		&~ nav#side{
			max-height: 1000vh;
			min-height: 100vh;
			top: 0;
			transition: .33s ease-in-out;
			label.button-menu{ }
		}	

		&~ #top{
			
			position: fixed;
			top: 0;
			left: 0;
			background: var(--bg_color);
			width: 100%;			
			z-index: 7;
			
			p{
				
				.collaboration{
					opacity: 0;
					transition: .33s ease-in-out;
				}
			}
		}

		&~ main{
			// Stay at your position

			position: fixed;
		}

		&~ .hack_background{
			//left: -1px;
			//transition: .33s ease-in-out;
		}
	}
}
