@include for-size(desktop) {
	
	body.projet{
		
		main{

			h1, article.page h2{
				@include font-size-80;
				font-style: italic;
			}

			h2.subtitle, article.page h2{
				@include font-size-80;
				font-style: italic;				
			}
			
			h1 + h2.subtitle, article.page h2 + h3.subtitle{
				left: -webkit-calc(#{$unite} + 7.5vw );
				left: -moz-calc(#{$unite} + 7.5vw );
				left: calc(#{$unite} + 7.5vw );
				width: -webkit-calc( 100% - #{$unite} - 7.5vw );
				width: -moz-calc( 100% - #{$unite} - 7.5vw );
				width: calc( 100% - #{$unite} - 7.5vw );
				display: inline-block;
			}
			



			hgroup{
				max-width: $main-width-desktop-max;
				margin-top: $baseline*4;
			}

			.content{
				max-width: $main-width-desktop-max*.75;
				margin-top: $baseline*4;
				p{ @include font-size-20; }

			}
			
			.details{
				display: none;
				max-width: $main-width-desktop-max;
				//margin: $baseline*4 0 $baseline*4 0;

				p{
					@include font-size-16;
					font-family: $font-second;
					display: inline-block;
					padding-right: $unite;
				}
			}
			




			section.media { 
				max-height: 100vh;
				overflow: hidden;
				
				.section{
					//height: 100vh;


					img{ max-width: 100%; max-height: 80vh; }

					video, object{
						width: 100%;
						margin: auto;
						display: block;
					}

					div.container{
						max-height: 80vh; 
						padding: $baseline*2 0;

						div.contened{
							max-width: 80%;
							max-height: 80vh; 
							margin: auto;
							width: 100%;
							
							figure{
								height: auto;
								//width: 100%;
								display: inline-block;					
							
								span.over{
									position: absolute;
									top: 0;
									left: 100%;
									width: $unite*3.5;

									transform: translateY(-50%) translateX(-50%) rotate(20deg);
									display: block;
									cursor: pointer;
									z-index: 2;	
								}

								figcaption{
									@include font-size-16;
									bottom: $baseline*2;
									width: 100%;

									&.over{
										position: fixed;
										width: 20vw;
										min-width: 400px;
										bottom: inherit;
										top: 5%;
										right: $unite;
										height: auto;
										max-height: 70vh;
										overflow: hidden;
										padding: $baseline*2 $unite*1.25;
										text-align: left;
										
										border: 1px solid;
										border-radius: 10px;
										background: white !important;
										transform: rotate(-3deg);

										
										> div{
											overflow-y: scroll;
											max-height: 70vh;
											width: calc( 20vw + #{$unite*3.25} );
											min-width: calc( 400px + #{$unite*3.25});
											padding: 0 $unite*3 0 0;
											box-sizing: border-box;

											.contexte{
												font-style: italic;
												padding-bottom: $baseline;
											}
											.description{
												padding: $baseline 0;									
											}
										}
									}
								}
								
								video, object{
									@include for-size(desktop-900){
										min-width: 700px; 
									}
								}
							}
						}
					}
				}
			}



			section.details_end{
				margin: $baseline*6 0 $baseline*4 0;
				max-width: $main-width-desktop-max*.5;

				p{
					@include font-size-12;
					font-family: $font-second;
					color: var(--color);
					display: block;
					text-align: left;
					margin-bottom: $baseline;
					&::first-letter{ text-transform: uppercase; }
				}
			}



			aside.related{
				margin: $baseline*10 0 $baseline*4 0;
				max-width: $main-width-desktop-max;

				h2{
					@include font-size-30;
					//font-family: $font-second;
					margin-bottom: $baseline*1;
				}

				li{

					width: $unite*8;
					height: $unite*8;
					margin: $baseline $unite $baseline 0;
					display: inline-block;
					border: 1px solid var(--color);
					border-radius: 100%;
					margin-right: $unite*-2;
					background: var(--bg_color);

					&:hover{
						background: var(--color);
						transition: .1s linear;

						p{
							background: inherit;
							color: var(--bg_color);
						}
					}

					a{ 
						width: 100%; 
						height: 100%;
						display: block;

						p{
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translateX(-50%) translateY(-50%);

							@include font-size-16;
							font-style: italic;
							text-align: center;

							padding: $baseline/2 $unite/2;
							background: white;
							background: var(--bg_color);

						}

					}
				}
			}

			/////////////////
			/// Grands projets
			////////////////

			article.page{
				margin: $baseline*8 0;			
			}	
		}
	}
}