@include for-size(phone) {

	
	body.projet{
		
		main{
			h1{
				@include font-size-45;
				font-style: italic;
				display: inline;
				padding-right: $unite-phone/2;
			}

			h2.subtitle, article.page h2{
				@include font-size-45;
				font-style: italic;

			}
			
			h1 + h2.subtitle, article.page h2 + h3.subtitle{

			}

			hgroup{
				max-width: 100%;
				margin-top: $baseline*3;
				overflow-wrap: break-word;
			}
			.content{
				@include font-size-16;
				max-width: 100%;

				&:not(:empty){
					margin-top: $baseline*2;
				}
			}
			
			.details{
				display: none;
				//margin: $baseline*2 0 $baseline*2 0;

				p{
					@include font-size-16;
					font-family: $font-second;
					display: inline-block;
					padding-right: $unite;
				}
			}




			section.media {				
				width: 100%;

				.section{		
					
					height: 75vw;
					margin: $baseline*1 0;

					//div.container{ max-width: $main-width-phone; }

					img, video, object{
						max-height: 75vw;
						max-width: 80vw;
						//width: 100%;
					}

					div.container{
						
						margin: $baseline*2 0;
						@include flex;

						div.contened{
								//top: 50%;
								//transform: translateY(-50%);
								margin: auto;
								
							figure{
								//width: 100%;
								max-height: 100%;

								span.over{
									position: absolute;
									top: 0;
									left: 90%;
									width: $unite*3.5;

									transform: translateY(-50%) translateX(-50%) rotate(20deg);
									display: block;
									cursor: pointer;
									z-index: 2;	
								}

								figcaption{
									@include font-size-16;
									text-align: left;
									bottom: $baseline*2;
									width: 100%;

									&.over{
										position: fixed;
										width: 100vw;
										width: calc(100vw + #{$unite-phone*4});
										height: 40vh;
										bottom: $baseline*-1;
										left: $unite-phone*-2;

										//border-bottom: 2px solid;
										//border-right: 2px solid;
										padding: 0 $unite-phone*3;

										background: white;
										border-top: 1px solid;
										padding-top: $baseline*1;
										overflow-y: scroll;
										box-sizing: content-box;
										z-index: 9 !important;
										
										div{
											
											width: calc(100% - #{$unite-phone*4});
											.contexte{
												font-style: italic;
												padding-bottom: $baseline*2;
												padding-top: $baseline*0;
												padding-right: $unite-phone*4;	

											}
											.description{

												padding-bottom: 50vh;
												padding-right: $unite-phone*4;									
											}
										}
									}
									.canvas{ display: none;}
								}					
							}
						}
					}
				}

				.prev_slide, .next_slide{
					height: $unite*4;
					top: 50%;
					transform: translateY(-50%);
				}

				.prev_slide{ text-align: left; }
				.next_slide{ text-align: right; }
				svg.to_right, svg.to_left { width: $unite; }
			}			

			.details_end{
				margin: $baseline*3 0 $baseline*1 0;
				max-width: 75%;

				p{
					@include font-size-12;
					margin: auto;
					text-align: left;
					&::first-letter{ text-transform: uppercase; }
				}
			}

			aside.related{
				margin: $baseline*10 0 $baseline*4 0;
				max-width: $main-width-desktop-max;

				h2{
					@include font-size-30;
					//font-family: $font-second;
					margin-bottom: $baseline*1;
				}

				li{

					width: $unite*8;
					height: $unite*8;
					margin: $baseline $unite $baseline 0;
					display: inline-block;
					border: 1px solid var(--color);
					border-radius: 100%;
					margin-right: $unite*-2;
					background: var(--bg_color);

					&:hover{
						background: var(--color);
						transition: .1s linear;

						p{
							background: inherit;
							color: var(--bg_color);
						}
					}

					a{ 
						width: 100%; 
						height: 100%;
						display: block;

						p{
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translateX(-50%) translateY(-50%);

							@include font-size-16;
							font-style: italic;
							text-align: center;

							padding: $baseline/2 $unite/2;
							background: white;
							background: var(--bg_color);

						}

					}
				}
			}			
		}

		/////////////////
		/// Grands projets
		////////////////

		article.page{
			margin: $baseline*1 0 $baseline*1 0;			
			padding-top: $baseline*2;
			border-top: 1px dashed rgba($text-color, .1);

			&:first-of-type{ margin-top: $baseline*3;}
		
		}
		.content:empty + article.page{ 
			margin-top: $baseline !important;
			padding-top: $baseline;
			border-top: 1px dashed rgba($text-color, .1);


		}
		/////////////
		//// few content
		////////////

		@supports(display: flex){

			main{
				@include flex;
				@include flex-direction(column);
				@include justify-content(space-between);

				min-height: calc(100vh - #{$baseline*6});
			}

			.details_end{ margin-bottom: 0 !important; }

			hr:last-of-type{ display: none;}
		}
	}
}